$main-color: #1d1d1d;

body{
    background-color: $main-color;
    color: #fff;
}


.instagram-container{
    display: block;
}

.instagram-item{
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 200ms;
    &:hover{
        text-decoration: none;
        padding: 10px;
    }
}

@media (min-width: 990px){
    .instagram-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .instagram-item{
        max-width: 32%;
    }
}
